In [147]:
import pandas as pd
import numpy as np
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_row", 100)
pd.set_option('display.max.columns', None)
pd.set_option('display.precision', 2)
pd.options.display.float_format = '${:,.2f}'.format
from datetime import date, time, datetime, timedelta
import dateutil
from dateutil.relativedelta import relativedelta

In [148]:
slh_assets_source = pd.read_csv(r"C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\slh\slh_assets_sit3_2021.csv")

In [149]:
slh_assets_source.columns

Index(['Class', 'Dept #', 'Dept Name', 'Asset #', 'Description', 'Useful Life',
       'Status', 'STS Date', 'Acq Date', 'Acq Date calculated', 'Year of Acq',
       'Month of Acq', 'Day of Acq', 'Cost', 'Accum Deprec', 'Book value'],
      dtype='object')

In [150]:
slh_assets_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9707 entries, 0 to 9706
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Class                9707 non-null   object
 1   Dept #               9707 non-null   float64
 2   Dept Name            9707 non-null   object
 3   Asset #              9707 non-null   int64
 4   Description          9707 non-null   object
 5   Useful Life          9707 non-null   int64
 6   Status               9707 non-null   object
 7   STS Date             9707 non-null   object
 8   Acq Date             9699 non-null   object
 9   Acq Date calculated  9699 non-null   object
 10  Year of Acq          9707 non-null   int64
 11  Month of Acq         9707 non-null   int64
 12  Day of Acq           9707 non-null   int64
 13  Cost                 9707 non-null   float64
 14  Accum Deprec         9707 non-null   float64
 15  Book value           9707 non-null   float64
dtypes: float64(4), int64(5), object(7)
memory usage: 1.2+ MB

In [151]:
slh_assets_source['Useful Life'].fillna(0, inplace=True)
slh_assets_source['Year of Acq'].fillna(0, inplace=True)
slh_assets_source['Month of Acq'].fillna(0, inplace=True)
slh_assets_source['Day of Acq'].fillna(0, inplace=True)

In [152]:
slh_assets_source['Dept #'] = slh_assets_source['Dept #'].astype(str)
slh_assets_source['Asset #'] = slh_assets_source['Asset #'].astype(str)
slh_assets_source['Useful Life'] = pd.to_numeric(slh_assets_source['Useful Life']).apply(lambda x: int(x))
slh_assets_source['Year of Acq'] = pd.to_numeric(slh_assets_source['Year of Acq']).apply(lambda x: int(x))
slh_assets_source['Month of Acq'] = pd.to_numeric(slh_assets_source['Month of Acq']).apply(lambda x: int(x))
slh_assets_source['Day of Acq'] = pd.to_numeric(slh_assets_source['Day of Acq']).apply(lambda x: int(x))

In [153]:
slh_assets_source.loc[0, 'Acq Date'] = '08/23/2020'
slh_assets_source.loc[0, 'Acq Date calculated'] = '08/23/2020'

In [154]:
slh_assets_source['STS Date'] =  pd.to_datetime(slh_assets_source['STS Date'])
slh_assets_source['Acq Date'] =  pd.to_datetime(slh_assets_source['Acq Date'])
slh_assets_source['Acq Date calculated'] =  pd.to_datetime(slh_assets_source['Acq Date calculated'])

In [155]:
slh_assets_source['Cost'] = slh_assets_source['Cost'].astype('float')
slh_assets_source['Accum Deprec'] = slh_assets_source['Accum Deprec'].astype('float')

In [158]:
slh_assets_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9707 entries, 0 to 9706
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Class                9707 non-null   object
 1   Dept #               9707 non-null   object
 2   Dept Name            9707 non-null   object
 3   Asset #              9707 non-null   object
 4   Description          9707 non-null   object
 5   Useful Life          9707 non-null   int64
 6   Status               9707 non-null   object
 7   STS Date             9707 non-null   datetime64[ns]
 8   Acq Date             9699 non-null   datetime64[ns]
 9   Acq Date calculated  9699 non-null   datetime64[ns]
 10  Year of Acq          9707 non-null   int64
 11  Month of Acq         9707 non-null   int64
 12  Day of Acq           9707 non-null   int64
 13  Cost                 9707 non-null   float64
 14  Accum Deprec         9707 non-null   float64
 15  Book value           9707 non-null   float64
dtypes: datetime64[ns](3), float64(3), int64(4), object(6)
memory usage: 1.2+ MB

In [159]:
slh_num_rows = slh_assets_source.shape[0]
slh_num_missing = slh_num_rows - slh_assets_source.count()
slh_num_missing

Class                  0
Dept #                 0
Dept Name              0
Asset #                0
Description            0
Useful Life            0
Status                 0
STS Date               0
Acq Date               8
Acq Date calculated    8
Year of Acq            0
Month of Acq           0
Day of Acq             0
Cost                   0
Accum Deprec           0
Book value             0
dtype: int64

In [160]:
slh_assets_source.columns

Index(['Class', 'Dept #', 'Dept Name', 'Asset #', 'Description', 'Useful Life',
       'Status', 'STS Date', 'Acq Date', 'Acq Date calculated', 'Year of Acq',
       'Month of Acq', 'Day of Acq', 'Cost', 'Accum Deprec', 'Book value'],
      dtype='object')

In [161]:
slh_assets_source[['Cost', 'Accum Deprec', 'Book value']].sum()

Cost           $128,004,004.75
Accum Deprec    $48,993,487.13
Book value      $79,010,517.62
dtype: float64

In [162]:
slh_assets_source['Status'].value_counts()

  ACTIVE    9707
Name: Status, dtype: int64

In [163]:
# slh_assets_source[slh_assets_source['Acq Date'].isnull()]['Acq Date']
# slh_assets_source[slh_assets_source['Acq Date calculated'].isnull()]

In [164]:
slh_assets_source.loc[9699:9706, 'Acq Date'] = datetime(2016, 8, 31)
slh_assets_source.loc[9699:9706, 'Acq Date calculated'] = datetime(2016, 8, 31)

In [165]:
# slh_assets_source.tail()

In [166]:
slh_assets_source['Acq Date calculated']

0      2020-08-23
1      1932-07-01
2      1932-07-01
3      1932-07-01
4      1932-07-01
          ...
9702   2016-08-31
9703   2016-08-31
9704   2016-08-31
9705   2016-08-31
9706   2016-08-31
Name: Acq Date calculated, Length: 9707, dtype: datetime64[ns]

In [13]:
# slc_assets_source[' Class '].unique()

In [14]:
# slc_assets_source[' Dept Name '].unique()

In [15]:
me_load_asset = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Entity_Asset_Import.csv')

C:\Users\mikra\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
me_load_asset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105034 entries, 0 to 105033
Data columns (total 45 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   UniqueID                                0 non-null       float64
 1   FinanceEnterpriseGroup                  105034 non-null  int64
 2   AssetImport                             105034 non-null  object
 3   RunGroup                                105034 non-null  object
 4   RecordInError                           0 non-null       float64
 5   ErrorMessage                            0 non-null       float64
 6   Asset                                   0 non-null       float64
 7   AssetManagementInterfaceResult          0 non-null       float64
 8   Description                             105032 non-null  object
 9   Classification                          105034 non-null  object
 10  AssetLease.LeaseCompany                 0 non-null       float64
 11  AssetLease.Lease                        0 non-null       float64
 12  TagNumber                               95502 non-null   object
 13  AssetGroup                              105034 non-null  object
 14  AssetCategory                           105034 non-null  object
 15  Reference2                              104494 non-null  object
 16  Simulated                               0 non-null       float64
 17  WorkInProcess                           0 non-null       float64
 18  TaxExempt                               0 non-null       float64
 19  Used                                    0 non-null       float64
 20  Company                                 105034 non-null  int64
 21  Currency                                105034 non-null  object
 22  AssetLocation                           0 non-null       float64
 23  AssetDivision                           0 non-null       float64
 24  AssetType.Type                          105034 non-null  object
 25  AssetType.SubType                       0 non-null       float64
 26  AssetAccountingUnit.Ledger              0 non-null       float64
 27  AssetAccountingUnit.ToAccountingEntity  0 non-null       float64
 28  AssetAccountingUnit.AccountingUnit      0 non-null       float64
 29  AssetAccountingUnit.Project             0 non-null       float64
 30  AssetAccountingUnit.FinanceDimension1   0 non-null       float64
 31  AssetAccountingUnit.FinanceDimension2   0 non-null       float64
 32  AssetAccountingUnit.FinanceDimension3   0 non-null       float64
 33  AssetAccountingUnit.FinanceDimension4   0 non-null       float64
 34  AssetAccountingUnit.FinanceDimension5   0 non-null       float64
 35  AssetAccountingUnit.FinanceDimension6   0 non-null       float64
 36  AssetAccountingUnit.FinanceDimension7   0 non-null       float64
 37  AssetAccountingUnit.FinanceDimension8   0 non-null       float64
 38  AssetAccountingUnit.FinanceDimension9   0 non-null       float64
 39  AssetAccountingUnit.FinanceDimension10  0 non-null       float64
 40  DepreciationExpenseProject.Project      0 non-null       float64
 41  AssetAccountingUnitGroup                105034 non-null  int64
 42  AssetAccountGroup                       105034 non-null  object
 43  IncludeInPhysicalInventory              0 non-null       float64
 44  AssetOwner                              0 non-null       float64
dtypes: float64(31), int64(3), object(11)
memory usage: 36.1+ MB

In [17]:
me_load_asset_book = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Entity_Asset_Book_Import.csv',
                                usecols=['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active', 'Life',
                                         'LifeRemaining', 'Basis', 'Method', 'InServiceDate', 'Convention',
                                         'YearToDateDepreciation', 'LifeToDateDepreciation'])

In [18]:
# me_load_asset = pd.read_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\sep_2021_trn\Entity_Asset_Import.csv')

In [19]:
# convert the me_load_asset_book series elements from int to string prior to converting to datetime

me_load_asset_book['InServiceDate'] = me_load_asset_book['InServiceDate'].astype(str)

# create a new column in me_load_asset_book that contains the 'InServiceDate' elements to datetime objects
me_load_asset_book['InServiceDate_dt'] = pd.to_datetime(me_load_asset_book['InServiceDate'])

# convert 'Life' column to float dtype

me_load_asset_book['Life'] = me_load_asset_book['Life'].astype(float)

In [20]:
me_load_asset_book['RunGroup'].unique()

array(['BURKE_COVID_ASSET', 'BURKE_FOUNDATION_ASSET', 'BURK_REHAB_ASSET',
       'SLH_ASSET', 'WPH_ASSET', 'NYK_ASSET'], dtype=object)

In [21]:
slh_asset_load = me_load_asset_book[me_load_asset_book['RunGroup'] == 'SLH_ASSET']

In [22]:
slh_asset_load['AssetImport'].count()

9532

In [23]:
# create a column with index that corresponds to M_ID in the wp_aa_report file from american appraisal
slh_asset_load['aa_index'] = slh_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-23-209e19405ca0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slh_asset_load['aa_index'] = slh_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[1]))

In [24]:
slh_asset_load.head()

       FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining      Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index
45325                       1    SLH_9416   GL  SLH_ASSET    True $120.00            116 $15,000.00     SL      20200823         HY                     NaN                 $666.67       2020-08-23      9416
45326                       1       SLH_2   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         2
45327                       1       SLH_3   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         3
45328                       1       SLH_4   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         4
45329                       1       SLH_5   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         5

In [25]:
slh_assets_source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9535 entries, 0 to 9534
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    Class                 9535 non-null   object
 1    Dept #                9535 non-null   object
 2    Dept Name             9535 non-null   object
 3    Asset #               9535 non-null   object
 4    Description           9535 non-null   object
 5    Useful Life           9535 non-null   int64
 6    Status                9535 non-null   object
 7    STS Date              9535 non-null   datetime64[ns]
 8    Acq Date              9535 non-null   datetime64[ns]
 9    Acq Date calculated   9535 non-null   datetime64[ns]
 10   Year of Acq           9535 non-null   int64
 11   Month of Acq          9535 non-null   int64
 12   Day of Acq            9535 non-null   int64
 13   Cost                  9535 non-null   float64
 14   Accum Deprec          9535 non-null   float64
 15   Book value            9535 non-null   float64
dtypes: datetime64[ns](3), float64(3), int64(4), object(6)
memory usage: 1.2+ MB

In [26]:
slh_assets_source[' Asset # '] = slh_assets_source[' Asset # '].astype('int')

In [27]:
# merge the wph_asset_load and wp_aa_report columns on the common index 
slh_source_asset_merge = slh_asset_load.merge(slh_assets_source,how='inner',
left_on="aa_index", right_on=' Asset # ')

In [28]:
slh_source_asset_merge.tail()

      FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining      Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index                                Class   Dept #                Dept Name    Asset #             Description    Useful Life      Status   STS Date   Acq Date   Acq Date calculated    Year of Acq    Month of Acq    Day of Acq       Cost    Accum Deprec    Book value
9529                       1    SLH_8823   GL  SLH_ASSET    True $180.00            144 $23,905.00     SL      20180102         HY                     NaN               $7,038.71       2018-01-02      8823   MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.6014   02 TRANSPORT SERVICES        8823   TRANSPORT STRETCHERS              15     ACTIVE  2018-01-02 2016-08-31            2016-08-31           2106               8            31 $23,905.00       $7,038.71    $16,866.29
9530                       1    SLH_8822   GL  SLH_ASSET    True  $60.00             24 $47,500.00     SL      20180102         HY                     NaN              $41,958.34       2018-01-02      8822   MOVABLE EQUIP.   MOVABLE EQUIPMENT     2.741       02 OPERATING ROOM        8822           LASER SYSTEM               5     ACTIVE  2018-01-02 2016-08-31            2016-08-31           2106               8            31 $47,500.00      $41,958.34     $5,541.66
9531                       1    SLH_8824   GL  SLH_ASSET    True  $12.00              0 $31,989.34     SL      20180102         HY                     NaN              $31,989.34       2018-01-02      8824   MOVABLE EQUIP.   MOVABLE EQUIPMENT     2.741       02 OPERATING ROOM        8824           URETEROSCOPE               1     ACTIVE  2018-01-02 2016-08-31            2016-08-31           2106               8            31 $31,989.34      $31,989.34         $0.00
9532                       1    SLH_8825   GL  SLH_ASSET    True  $84.00             48  $5,910.00     SL      20180102         HY                     NaN               $3,728.95       2018-01-02      8825   MOVABLE EQUIP.   MOVABLE EQUIPMENT     2.741       02 OPERATING ROOM        8825        SHOULDER SYSTEM               7     ACTIVE  2018-01-02 2016-08-31            2016-08-31           2106               8            31  $5,910.00       $3,728.95     $2,181.05
9533                       1    SLH_8826   GL  SLH_ASSET    True  $60.00             24  $7,470.00     SL      20180102         HY                     NaN               $6,598.50       2018-01-02      8826   MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8285             02 SECURITY        8826     ADDITIONAL CAMERAS               5     ACTIVE  2018-01-02 2016-08-31            2016-08-31           2106               8            31  $7,470.00       $6,598.50       $871.50

In [29]:
slh_source_asset_merge.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active',
       'Life', 'LifeRemaining', 'Basis', 'Method', 'InServiceDate',
       'Convention', 'YearToDateDepreciation', 'LifeToDateDepreciation',
       'InServiceDate_dt', 'aa_index', ' Class ', ' Dept # ', ' Dept Name ',
       ' Asset # ', ' Description ', ' Useful Life ', ' Status ', ' STS Date ',
       ' Acq Date ', ' Acq Date calculated ', ' Year of Acq ',
       ' Month of Acq ', ' Day of Acq ', ' Cost ', ' Accum Deprec ',
       ' Book value '],
      dtype='object')

In [30]:
slh_source_asset_merge[['Basis', ' Cost ', 'LifeToDateDepreciation', ' Accum Deprec ' , ' Book value ' ]].sum()

Basis                    $117,625,013.31
 Cost                    $117,411,001.13
LifeToDateDepreciation    $39,360,905.24
 Accum Deprec             $39,326,125.44
 Book value               $78,084,875.69
dtype: float64

In [31]:
# there are two assets for which the book_file 'Basis' does not equal the source file cost
slh_source_asset_merge[slh_source_asset_merge['Basis'] != slh_source_asset_merge[' Cost ']]

      FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining       Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index                                          Class   Dept #               Dept Name    Asset #             Description    Useful Life      Status   STS Date   Acq Date   Acq Date calculated    Year of Acq    Month of Acq    Day of Acq    Cost    Accum Deprec    Book value
9040                       1    SLH_9066   GL  SLH_ASSET    True $180.00            155 $213,081.00     SL      20190115         HY                     NaN              $34,329.72       2019-01-15      9066           POST91 BLDGS.    POST 1991 BUILDINGS    2.8261   02 PLANT MAINTENANCE        9066         PARKING GARAGE              10     ACTIVE  2019-01-15 2018-12-01            2018-12-01           2018              12             1   $0.00           $0.00         $0.00
9050                       1    SLH_9063   GL  SLH_ASSET    True  $60.00             35     $931.18     SL      20190115         HY                     NaN                 $450.08       2019-01-15      9063   POST91 MOV EQ    POST 1991 MOVABLE EQUIPMENT     2.741      02 OPERATING ROOM        9063   HP ELITE DESK 800-G4               5     ACTIVE  2019-01-15 2018-12-01            2018-12-01           2018              12             1   $0.00           $0.00         $0.00

In [32]:
# there are three assets for which the book load file 'LifeToDateDepreciation' does not equal the source file 'Accum Deprec'
slh_source_asset_merge[slh_source_asset_merge['LifeToDateDepreciation'] != slh_source_asset_merge[' Accum Deprec ']]

      FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining       Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index                                          Class   Dept #               Dept Name    Asset #             Description    Useful Life      Status   STS Date   Acq Date   Acq Date calculated    Year of Acq    Month of Acq    Day of Acq    Cost    Accum Deprec    Book value
9040                       1    SLH_9066   GL  SLH_ASSET    True $180.00            155 $213,081.00     SL      20190115         HY                     NaN              $34,329.72       2019-01-15      9066           POST91 BLDGS.    POST 1991 BUILDINGS    2.8261   02 PLANT MAINTENANCE        9066         PARKING GARAGE              10     ACTIVE  2019-01-15 2018-12-01            2018-12-01           2018              12             1   $0.00           $0.00         $0.00
9050                       1    SLH_9063   GL  SLH_ASSET    True  $60.00             35     $931.18     SL      20190115         HY                     NaN                 $450.08       2019-01-15      9063   POST91 MOV EQ    POST 1991 MOVABLE EQUIPMENT     2.741      02 OPERATING ROOM        9063   HP ELITE DESK 800-G4               5     ACTIVE  2019-01-15 2018-12-01            2018-12-01           2018              12             1   $0.00           $0.00         $0.00

### need to tie these numbers to the slh trial balance and audit reconciliation

### Comparison of SLH source_asset_merge with FSM asset register

In [99]:
asset_download_all_entities = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Asset Download All Entities 113021.csv")

In [100]:
# replace 'NaN' in company column for a record
asset_download_all_entities.loc[126381, 'Company'] = ''

In [101]:
# look for NaN values in the company column
asset_download_all_entities[asset_download_all_entities['Company'].isna()]

Empty DataFrame
Columns: [FinanceEnterpriseGroup, Asset, Reference1, Description, Company, ItemTotalBaseCost, ItemTotalTransactionCost, TotalItemsBaseCost, PostingBookBasis, PostingBookBookValue, TotalAccumulatedDepreciation, DepreciationToAssetCost, AssetBookValue, PostingBookValue, RemainingDepreciation, LTDDepreciationExpense]
Index: []

In [102]:
# cast the company column as a string and strip out the excess digits
asset_download_all_entities['Company'] = asset_download_all_entities['Company'].astype('str').apply(lambda x: x[:4])

In [103]:
fsm_asset_register_groupby_company = asset_download_all_entities.groupby('Company')

In [104]:
fsm_asset_register_groupby_company.groups.keys()

dict_keys(['', '2000', '2010', '2020', '2030', '2040', '2050', '2060', '2100', '2200', '2300', '2400', '2600', '3000', '3010', '3020', '3060', '3080', '3090'])

### Find SLH 2400 records that are missing from the FSM asset register

In [105]:
slh_group_2400 = fsm_asset_register_groupby_company.get_group('2400')

In [106]:
slh_source_asset_merge[['Basis', ' Cost ', 'LifeToDateDepreciation', ' Accum Deprec ' , ' Book value ' ]].sum()

Basis                    $117,625,013.31
 Cost                    $117,411,001.13
LifeToDateDepreciation    $39,360,905.24
 Accum Deprec             $39,326,125.44
 Book value               $78,084,875.69
dtype: float64

In [107]:
# create a new index column called 'merge_index' to match the 'M_ID' column in the aa_load_merge file
slh_group_2400['merge_index'] = slh_group_2400['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-107-e2c28f59d494>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slh_group_2400['merge_index'] = slh_group_2400['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [108]:
slh_group_2400 = slh_group_2400.set_index('merge_index',)

In [109]:
slh_group_2400 = slh_group_2400.sort_index()

In [110]:
slh_group_2400['cbiz_index'] = slh_group_2400['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [111]:
slh_source_asset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9534 entries, 9416 to 8826
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FinanceEnterpriseGroup  9534 non-null   int64
 1   AssetImport             9534 non-null   object
 2   Book                    9534 non-null   object
 3   RunGroup                9534 non-null   object
 4   Active                  9534 non-null   bool
 5   Life                    9534 non-null   float64
 6   LifeRemaining           9534 non-null   int64
 7   Basis                   9534 non-null   float64
 8   Method                  9458 non-null   object
 9   InServiceDate           9534 non-null   object
 10  Convention              9534 non-null   object
 11  YearToDateDepreciation  0 non-null      float64
 12  LifeToDateDepreciation  9534 non-null   float64
 13  InServiceDate_dt        9534 non-null   datetime64[ns]
 14  aa_index                9534 non-null   int64
 15   Class                  9534 non-null   object
 16   Dept #                 9534 non-null   object
 17   Dept Name              9534 non-null   object
 18   Description            9534 non-null   object
 19   Useful Life            9534 non-null   int64
 20   Status                 9534 non-null   object
 21   STS Date               9534 non-null   datetime64[ns]
 22   Acq Date               9534 non-null   datetime64[ns]
 23   Acq Date calculated    9534 non-null   datetime64[ns]
 24   Year of Acq            9534 non-null   int64
 25   Month of Acq           9534 non-null   int64
 26   Day of Acq             9534 non-null   int64
 27   Cost                   9534 non-null   float64
 28   Accum Deprec           9534 non-null   float64
 29   Book value             9534 non-null   float64
dtypes: bool(1), datetime64[ns](4), float64(7), int64(7), object(11)
memory usage: 2.2+ MB

In [112]:
slh_source_asset_merge = slh_source_asset_merge.set_index(' Asset # ')

KeyError: "None of [' Asset # '] are in the columns"

In [113]:
slh_source_asset_merge.sort_index()

           FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining         Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index                                          Class   Dept #               Dept Name                  Description    Useful Life      Status   STS Date   Acq Date   Acq Date calculated    Year of Acq    Month of Acq    Day of Acq          Cost    Accum Deprec    Book value
 Asset #
1                               1       SLH_1   GL  SLH_ASSET    True  $12.00            102         $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         1             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8261   02 PLANT MAINTENANCE      SHELF UNIT MTL 30X12X72               1     ACTIVE  2018-01-02 2028-07-01            2028-07-01           2028               7             1         $5.00           $5.00         $0.00
2                               1       SLH_2   GL  SLH_ASSET    True  $12.00              0         $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         2             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8251   02 NUTR SVCS KITCHEN                        STAND               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1         $5.00           $5.00         $0.00
3                               1       SLH_3   GL  SLH_ASSET    True  $12.00              0         $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         3             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8261   02 PLANT MAINTENANCE    CABINET STOR MTL 40X18X72               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1         $5.00           $5.00         $0.00
4                               1       SLH_4   GL  SLH_ASSET    True  $12.00              0         $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         4            PERM. FIXTURES   PERMANENT FIXTURES    2.6073    02 3 NORTH EXPENSES                        SHELF               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1         $5.00           $5.00         $0.00
5                               1       SLH_5   GL  SLH_ASSET    True  $12.00              0         $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         5            PERM. FIXTURES   PERMANENT FIXTURES    2.8251   02 NUTR SVCS KITCHEN          SHELF SS&CAN OPENER               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1         $5.00           $5.00         $0.00
...                           ...         ...  ...        ...     ...     ...            ...           ...    ...           ...        ...                     ...                     ...              ...       ...                                             ...      ...                     ...                          ...            ...         ...        ...        ...                   ...            ...             ...           ...           ...             ...           ...
9572                            1    SLH_9572   GL  SLH_ASSET    True $240.00            239     $3,043.60     SL      20210118         HY                     NaN                   $0.00       2021-01-18      9572           POST91 BLDGS.    POST 1991 BUILDINGS    1.8261   01 PLANT MAINTENANCE                 BOILER STACK              20     ACTIVE  2021-01-18 2020-12-01            2020-12-01           2020              12             1     $3,043.60           $0.00     $3,043.60
9575                            1    SLH_9575   GL  SLH_ASSET    True  $36.00             35    $24,971.72     SL      20210119         HY                     NaN                   $0.00       2021-01-19      9575   POST91 MOV EQ    POST 1991 MOVABLE EQUIPMENT    1.8431    01 INFORMATION TECH        IT WIRELESS EQUIPMENT               3     ACTIVE  2021-01-19 2020-12-01            2020-12-01           2020              12             1    $24,971.72           $0.00    $24,971.72
9576                            1    SLH_9576   GL  SLH_ASSET    True $300.00            299 $6,909,027.49     SL      20210120         HY                     NaN                   $0.00       2021-01-20      9576           POST91 BLDGS.    POST 1991 BUILDINGS    1.8261   01 PLANT MAINTENANCE        NEWBURGH ED EXPANSION              25     ACTIVE  2021-01-20 2020-12-01            2020-12-01           2020              12             1 $6,909,027.49           $0.00 $6,909,027.49
9577                            1    SLH_9577   GL  SLH_ASSET    True $120.00            119     $2,800.00     SL      20210120         HY                     NaN                   $0.00       2021-01-20      9577           POST91 BLDGS.    POST 1991 BUILDINGS    1.8261   01 PLANT MAINTENANCE             SURGERY PLANNING              10     ACTIVE  2021-01-20 2020-12-01            2020-12-01           2020              12             1     $2,800.00           $0.00     $2,800.00
9578                            1    SLH_9578   GL  SLH_ASSET    True $120.00            119   $560,070.92     SL      20210120         HY                     NaN                   $0.00       2021-01-20      9578           POST91 BLDGS.    POST 1991 BUILDINGS    2.8275      02 PARKING GARAGE     PARKING VIDEO MANAGEMENT              10     ACTIVE  2021-01-20 2020-12-01            2020-12-01           2020              12             1   $560,070.92           $0.00   $560,070.92

[9534 rows x 30 columns]

In [114]:
print(slh_group_2400.index.nunique())
print(slh_source_asset_merge.index.nunique())

9532
9532

In [115]:
print(slh_group_2400.index)
print(slh_source_asset_merge.index)

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            9567, 9568, 9569, 9570, 9571, 9572, 9575, 9576, 9577, 9578],
           dtype='int64', name='merge_index', length=9532)
Int64Index([9416,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            9565,    1, 8827, 8820, 8821, 8823, 8822, 8824, 8825, 8826],
           dtype='int64', name=' Asset # ', length=9534)

In [116]:
slh_source_infor_2400_matched = slh_source_asset_merge[slh_source_asset_merge.index.isin(slh_group_2400.index)]

In [117]:
slh_source_infor_2400_matched.shape

(9534, 30)

In [118]:
missing_2400_asset_register_records = slh_source_asset_merge[~slh_source_asset_merge.index.isin(slh_group_2400.index)]
missing_2400_asset_register_records

Empty DataFrame
Columns: [FinanceEnterpriseGroup, AssetImport, Book, RunGroup, Active, Life, LifeRemaining, Basis, Method, InServiceDate, Convention, YearToDateDepreciation, LifeToDateDepreciation, InServiceDate_dt, aa_index,  Class ,  Dept # ,  Dept Name ,  Description ,  Useful Life ,  Status ,  STS Date ,  Acq Date ,  Acq Date calculated ,  Year of Acq ,  Month of Acq ,  Day of Acq ,  Cost ,  Accum Deprec ,  Book value ]
Index: []

In [119]:
asset_register_2400_cost = slh_group_2400['ItemTotalBaseCost'].apply(lambda x: float(x)).sum()
asset_register_2400_cost

117411001.13000001

In [120]:
slh_source_infor_2400_matched[' Cost '].sum()

117411001.13000001

In [121]:
cost_for_asset_register_records_with_errors_2400 = slh_source_infor_2400_matched[' Cost '].sum() - slh_group_2400['ItemTotalBaseCost'].sum()
cost_for_asset_register_records_with_errors_2400

0.0

In [122]:
slh_source_infor_2400_matched_acc_dep = slh_source_infor_2400_matched[' Accum Deprec '].sum()
slh_source_infor_2400_matched_acc_dep

39326125.44

In [123]:
fsm_slh_asset_register_acc_dep = slh_group_2400['TotalAccumulatedDepreciation'].sum()
fsm_slh_asset_register_acc_dep

39319100.55

In [124]:
slh_source_infor_2400_matched_acc_dep - fsm_slh_asset_register_acc_dep

7024.890000000596

In [125]:

# slh_source_asset_merge.to_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\sep_2021_trn\output_2400\tst_slh_2400_sourc_load_merge.csv')


# slh_group_2400.to_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\sep_2021_trn\output_2400\tst_slh_2400_asset_register.csv')

In [126]:
slh_source_asset_merge.head()

           FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining      Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index                                          Class   Dept #               Dept Name                                   Description    Useful Life      Status   STS Date   Acq Date   Acq Date calculated    Year of Acq    Month of Acq    Day of Acq       Cost    Accum Deprec    Book value
 Asset #
9416                            1    SLH_9416   GL  SLH_ASSET    True $120.00            116 $15,000.00     SL      20200823         HY                     NaN                 $666.67       2020-08-23      9416   POST91 MOV EQ    POST 1991 MOVABLE EQUIPMENT    2.8261   02 PLANT MAINTENANCE    COVID OFFICE MOVE ADDITIONAL PATIENT SPACE              10     ACTIVE  2020-08-23 2020-08-23            2020-08-23              0               0             0 $15,000.00         $666.67    $14,333.33
2                               1       SLH_2   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         2             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8251   02 NUTR SVCS KITCHEN                                         STAND               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00
3                               1       SLH_3   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         3             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8261   02 PLANT MAINTENANCE                     CABINET STOR MTL 40X18X72               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00
4                               1       SLH_4   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         4            PERM. FIXTURES   PERMANENT FIXTURES    2.6073    02 3 NORTH EXPENSES                                         SHELF               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00
5                               1       SLH_5   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         5            PERM. FIXTURES   PERMANENT FIXTURES    2.8251   02 NUTR SVCS KITCHEN                           SHELF SS&CAN OPENER               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00

### Find 2400 records that exist in the fsm asset register but have incorrect cost values

In [127]:
slh_group_2400.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9532 entries, 1 to 9578
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FinanceEnterpriseGroup        9532 non-null   int64
 1   Asset                         9532 non-null   int64
 2   Reference1                    9532 non-null   object
 3   Description                   9532 non-null   object
 4   Company                       9532 non-null   object
 5   ItemTotalBaseCost             9532 non-null   float64
 6   ItemTotalTransactionCost      9532 non-null   float64
 7   TotalItemsBaseCost            9532 non-null   float64
 8   PostingBookBasis              9532 non-null   float64
 9   PostingBookBookValue          9532 non-null   float64
 10  TotalAccumulatedDepreciation  9532 non-null   float64
 11  DepreciationToAssetCost       9532 non-null   float64
 12  AssetBookValue                9532 non-null   float64
 13  PostingBookValue              9532 non-null   float64
 14  RemainingDepreciation         9532 non-null   float64
 15  LTDDepreciationExpense        9532 non-null   int64
 16  cbiz_index                    9532 non-null   int64
dtypes: float64(10), int64(4), object(3)
memory usage: 1.3+ MB

In [128]:
slh_source_infor_2400_matched.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9534 entries, 9416 to 8826
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FinanceEnterpriseGroup  9534 non-null   int64
 1   AssetImport             9534 non-null   object
 2   Book                    9534 non-null   object
 3   RunGroup                9534 non-null   object
 4   Active                  9534 non-null   bool
 5   Life                    9534 non-null   float64
 6   LifeRemaining           9534 non-null   int64
 7   Basis                   9534 non-null   float64
 8   Method                  9458 non-null   object
 9   InServiceDate           9534 non-null   object
 10  Convention              9534 non-null   object
 11  YearToDateDepreciation  0 non-null      float64
 12  LifeToDateDepreciation  9534 non-null   float64
 13  InServiceDate_dt        9534 non-null   datetime64[ns]
 14  aa_index                9534 non-null   int64
 15   Class                  9534 non-null   object
 16   Dept #                 9534 non-null   object
 17   Dept Name              9534 non-null   object
 18   Description            9534 non-null   object
 19   Useful Life            9534 non-null   int64
 20   Status                 9534 non-null   object
 21   STS Date               9534 non-null   datetime64[ns]
 22   Acq Date               9534 non-null   datetime64[ns]
 23   Acq Date calculated    9534 non-null   datetime64[ns]
 24   Year of Acq            9534 non-null   int64
 25   Month of Acq           9534 non-null   int64
 26   Day of Acq             9534 non-null   int64
 27   Cost                   9534 non-null   float64
 28   Accum Deprec           9534 non-null   float64
 29   Book value             9534 non-null   float64
dtypes: bool(1), datetime64[ns](4), float64(7), int64(7), object(11)
memory usage: 2.2+ MB

In [129]:
# slh_source_infor_2400_cost_diffs = slh_source_infor_2400_matched[' Cost '].compare(slh_group_2400['ItemTotalBaseCost'])
# slh_source_infor_2400_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
# slh_source_infor_2400_cost_diffs.rename_axis('Load ID', inplace=True)

In [130]:
slh_source_asset_merge.head()

           FinanceEnterpriseGroup AssetImport Book   RunGroup  Active    Life  LifeRemaining      Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index                                          Class   Dept #               Dept Name                                   Description    Useful Life      Status   STS Date   Acq Date   Acq Date calculated    Year of Acq    Month of Acq    Day of Acq       Cost    Accum Deprec    Book value
 Asset #
9416                            1    SLH_9416   GL  SLH_ASSET    True $120.00            116 $15,000.00     SL      20200823         HY                     NaN                 $666.67       2020-08-23      9416   POST91 MOV EQ    POST 1991 MOVABLE EQUIPMENT    2.8261   02 PLANT MAINTENANCE    COVID OFFICE MOVE ADDITIONAL PATIENT SPACE              10     ACTIVE  2020-08-23 2020-08-23            2020-08-23              0               0             0 $15,000.00         $666.67    $14,333.33
2                               1       SLH_2   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         2             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8251   02 NUTR SVCS KITCHEN                                         STAND               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00
3                               1       SLH_3   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         3             MOVABLE EQUIP.   MOVABLE EQUIPMENT    2.8261   02 PLANT MAINTENANCE                     CABINET STOR MTL 40X18X72               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00
4                               1       SLH_4   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         4            PERM. FIXTURES   PERMANENT FIXTURES    2.6073    02 3 NORTH EXPENSES                                         SHELF               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00
5                               1       SLH_5   GL  SLH_ASSET    True  $12.00              0      $5.00     SL      20180102         HY                     NaN                   $5.00       2018-01-02         5            PERM. FIXTURES   PERMANENT FIXTURES    2.8251   02 NUTR SVCS KITCHEN                           SHELF SS&CAN OPENER               1     ACTIVE  2018-01-02 1932-07-01            1932-07-01           1932               7             1      $5.00           $5.00         $0.00

In [131]:
slh_source_asset_merge.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active',
       'Life', 'LifeRemaining', 'Basis', 'Method', 'InServiceDate',
       'Convention', 'YearToDateDepreciation', 'LifeToDateDepreciation',
       'InServiceDate_dt', 'aa_index', ' Class ', ' Dept # ', ' Dept Name ',
       ' Description ', ' Useful Life ', ' Status ', ' STS Date ',
       ' Acq Date ', ' Acq Date calculated ', ' Year of Acq ',
       ' Month of Acq ', ' Day of Acq ', ' Cost ', ' Accum Deprec ',
       ' Book value '],
      dtype='object')

### Calculate depreciation for slh

In [132]:
fsm_depreciation = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Depreciation By Asset.csv",
                              usecols=['Asset', 'CurrentPeriodDepreciation'])

In [133]:
df_depreciation_calc_2400 = slh_source_asset_merge[[
    'AssetImport', 'aa_index', ' Description ', ' Acq Date ',
    ' Cost ',  ' Accum Deprec ', ' Book value ', ' Useful Life ', 'LifeRemaining', 'Basis',
    'InServiceDate_dt', 'Convention','LifeToDateDepreciation',
    
]]





df_depreciation_calc_2400.sort_index()

          AssetImport  aa_index                 Description   Acq Date          Cost    Accum Deprec    Book value    Useful Life   LifeRemaining         Basis InServiceDate_dt Convention  LifeToDateDepreciation
 Asset #
1               SLH_1         1     SHELF UNIT MTL 30X12X72  2028-07-01         $5.00           $5.00         $0.00              1            102         $5.00       2018-01-02         HY                   $5.00
2               SLH_2         2                       STAND  1932-07-01         $5.00           $5.00         $0.00              1              0         $5.00       2018-01-02         HY                   $5.00
3               SLH_3         3   CABINET STOR MTL 40X18X72  1932-07-01         $5.00           $5.00         $0.00              1              0         $5.00       2018-01-02         HY                   $5.00
4               SLH_4         4                       SHELF  1932-07-01         $5.00           $5.00         $0.00              1              0         $5.00       2018-01-02         HY                   $5.00
5               SLH_5         5         SHELF SS&CAN OPENER  1932-07-01         $5.00           $5.00         $0.00              1              0         $5.00       2018-01-02         HY                   $5.00
...               ...       ...                          ...        ...           ...             ...           ...            ...            ...           ...              ...        ...                     ...
9572         SLH_9572      9572                BOILER STACK  2020-12-01     $3,043.60           $0.00     $3,043.60             20            239     $3,043.60       2021-01-18         HY                   $0.00
9575         SLH_9575      9575       IT WIRELESS EQUIPMENT  2020-12-01    $24,971.72           $0.00    $24,971.72              3             35    $24,971.72       2021-01-19         HY                   $0.00
9576         SLH_9576      9576       NEWBURGH ED EXPANSION  2020-12-01 $6,909,027.49           $0.00 $6,909,027.49             25            299 $6,909,027.49       2021-01-20         HY                   $0.00
9577         SLH_9577      9577            SURGERY PLANNING  2020-12-01     $2,800.00           $0.00     $2,800.00             10            119     $2,800.00       2021-01-20         HY                   $0.00
9578         SLH_9578      9578    PARKING VIDEO MANAGEMENT  2020-12-01   $560,070.92           $0.00   $560,070.92             10            119   $560,070.92       2021-01-20         HY                   $0.00

[9534 rows x 13 columns]

In [134]:
df_depreciation_calc_2400.head()

          AssetImport  aa_index                                  Description   Acq Date       Cost    Accum Deprec    Book value    Useful Life   LifeRemaining      Basis InServiceDate_dt Convention  LifeToDateDepreciation
 Asset #
9416         SLH_9416      9416   COVID OFFICE MOVE ADDITIONAL PATIENT SPACE  2020-08-23 $15,000.00         $666.67    $14,333.33             10            116 $15,000.00       2020-08-23         HY                 $666.67
2               SLH_2         2                                        STAND  1932-07-01      $5.00           $5.00         $0.00              1              0      $5.00       2018-01-02         HY                   $5.00
3               SLH_3         3                    CABINET STOR MTL 40X18X72  1932-07-01      $5.00           $5.00         $0.00              1              0      $5.00       2018-01-02         HY                   $5.00
4               SLH_4         4                                        SHELF  1932-07-01      $5.00           $5.00         $0.00              1              0      $5.00       2018-01-02         HY                   $5.00
5               SLH_5         5                          SHELF SS&CAN OPENER  1932-07-01      $5.00           $5.00         $0.00              1              0      $5.00       2018-01-02         HY                   $5.00

In [135]:
df_depreciation_calc_2400['full_dep_yr'] =  df_depreciation_calc_2400[' Useful Life ']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-135-94e84a878271>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2400['full_dep_yr'] =  df_depreciation_calc_2400[' Useful Life ']\

In [136]:
df_depreciation_calc_2400['full_dep_yr_2'] = df_depreciation_calc_2400[' Acq Date '] +\
df_depreciation_calc_2400['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-136-32c038e16a00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2400['full_dep_yr_2'] = df_depreciation_calc_2400[' Acq Date '] +\

In [137]:
balance_sheet_date = datetime(2020, 12, 31)
balance_sheet_date_2021 = datetime(2021, 12, 31)

In [138]:
df_depreciation_calc_2400.columns

Index(['AssetImport', 'aa_index', ' Description ', ' Acq Date ', ' Cost ',
       ' Accum Deprec ', ' Book value ', ' Useful Life ', 'LifeRemaining',
       'Basis', 'InServiceDate_dt', 'Convention', 'LifeToDateDepreciation',
       'full_dep_yr', 'full_dep_yr_2'],
      dtype='object')

In [139]:
def dep_calc_2020(row):
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2020 calculated depreciation to the dataframe
    """
          
    if row[' Useful Life '] < 1:
        row['dep_exp_2020'] = 0
        
    elif row[' Acq Date '].year == balance_sheet_date.year:
       
        row['dep_exp_2020'] = row[' Cost ']\
        / row[' Useful Life '] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date.year:
        row['dep_exp_2020'] = row[' Cost ']\
        / row[' Useful Life '] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date.year) &\
    (row[' Acq Date '].year < balance_sheet_date.year):
        
        row['dep_exp_2020'] = row[' Cost '] / row[' Useful Life ']
         
    else:
        row['dep_exp_2020'] = 0
    
    return row

In [140]:
def dep_calc_2021(row):
    
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2021 calculated depreciation to the dataframe
    """
          
          
    if row[' Useful Life '] < 1:
        row['dep_exp_2021'] = 0
        
    elif row[' Acq Date '].year == balance_sheet_date_2021.year:
       
        row['dep_exp_2021'] = row[' Cost ']\
        / row[' Useful Life '] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date_2021.year:
        row['dep_exp_2021'] = row[' Cost ']\
        / row[' Useful Life '] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date_2021.year) &\
    (row[' Acq Date '].year < balance_sheet_date_2021.year):
        
        row['dep_exp_2021'] = row[' Cost '] / row[' Useful Life ']
         
    else:
        row['dep_exp_2021'] = 0
    
    return row

In [141]:
df_depreciation_calc_2400 = df_depreciation_calc_2400.apply(dep_calc_2020, axis=1)

In [142]:
df_depreciation_calc_2400[['dep_exp_2020']].sum()

dep_exp_2020   $7,443,175.28
dtype: float64

In [143]:
df_depreciation_calc_2400 = df_depreciation_calc_2400.apply(dep_calc_2021, axis=1)

In [144]:
df_depreciation_calc_2400[['dep_exp_2021']].sum()

dep_exp_2021   $7,688,879.51
dtype: float64

In [145]:
df_depreciation_calc_2400['depr_ytd_oct'] = df_depreciation_calc_2400['dep_exp_2021'] * (10/12)

In [146]:
df_depreciation_calc_2400[['dep_exp_2021', 'depr_ytd_oct']].sum()

dep_exp_2021   $7,688,879.51
depr_ytd_oct   $6,407,399.59
dtype: float64

In [147]:
df_depreciation_calc_2400.columns

Index(['AssetImport', 'aa_index', ' Description ', ' Acq Date ', ' Cost ',
       ' Accum Deprec ', ' Book value ', ' Useful Life ', 'LifeRemaining',
       'Basis', 'InServiceDate_dt', 'Convention', 'LifeToDateDepreciation',
       'full_dep_yr', 'full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021',
       'depr_ytd_oct'],
      dtype='object')

In [148]:
slh_group_2400.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9532 entries, 1 to 9578
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FinanceEnterpriseGroup        9532 non-null   int64
 1   Asset                         9532 non-null   int64
 2   Reference1                    9532 non-null   object
 3   Description                   9532 non-null   object
 4   Company                       9532 non-null   object
 5   ItemTotalBaseCost             9532 non-null   float64
 6   ItemTotalTransactionCost      9532 non-null   float64
 7   TotalItemsBaseCost            9532 non-null   float64
 8   PostingBookBasis              9532 non-null   float64
 9   PostingBookBookValue          9532 non-null   float64
 10  TotalAccumulatedDepreciation  9532 non-null   float64
 11  DepreciationToAssetCost       9532 non-null   float64
 12  AssetBookValue                9532 non-null   float64
 13  PostingBookValue              9532 non-null   float64
 14  RemainingDepreciation         9532 non-null   float64
 15  LTDDepreciationExpense        9532 non-null   int64
 16  cbiz_index                    9532 non-null   int64
dtypes: float64(10), int64(4), object(3)
memory usage: 1.3+ MB

In [149]:

fsm_asset_number_2400 = slh_group_2400[['Asset', 'cbiz_index']]

fsm_asset_number_2400['FSM Asset'] = fsm_asset_number_2400['Asset'].astype('int')
# fsm_asset_number

<ipython-input-149-7f1af82a919b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fsm_asset_number_2400['FSM Asset'] = fsm_asset_number_2400['Asset'].astype('int')

In [150]:
fsm_asset_number_2400

             Asset  cbiz_index  FSM Asset
merge_index
1            86721           1      86721
2            87832           2      87832
3            88943           3      88943
4            90054           4      90054
5            91165           5      91165
...            ...         ...        ...
9572         96202        9572      96202
9575         96203        9575      96203
9576         96204        9576      96204
9577         96205        9577      96205
9578         96206        9578      96206

[9532 rows x 3 columns]

In [151]:
df_depreciation_calc_2400 = df_depreciation_calc_2400.merge(fsm_asset_number_2400, how='left',
                                            left_on='aa_index', right_on="cbiz_index")

In [152]:
df_depreciation_calc_2400.set_index('aa_index', inplace=True)

In [153]:
df_depreciation_calc_2400 = df_depreciation_calc_2400.sort_index()
df_depreciation_calc_2400.columns

Index(['AssetImport', ' Description ', ' Acq Date ', ' Cost ',
       ' Accum Deprec ', ' Book value ', ' Useful Life ', 'LifeRemaining',
       'Basis', 'InServiceDate_dt', 'Convention', 'LifeToDateDepreciation',
       'full_dep_yr', 'full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021',
       'depr_ytd_oct', 'Asset', 'cbiz_index', 'FSM Asset'],
      dtype='object')

In [154]:
df_depreciation_calc_2400.head()

         AssetImport                 Description   Acq Date    Cost    Accum Deprec    Book value    Useful Life   LifeRemaining  Basis InServiceDate_dt Convention  LifeToDateDepreciation              full_dep_yr full_dep_yr_2  dep_exp_2020  dep_exp_2021  depr_ytd_oct  Asset  cbiz_index  FSM Asset
aa_index
1              SLH_1     SHELF UNIT MTL 30X12X72  2028-07-01   $5.00           $5.00         $0.00              1            102  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    2029-07-01         $0.00         $0.00         $0.00  86721           1      86721
2              SLH_2                       STAND  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  87832           2      87832
3              SLH_3   CABINET STOR MTL 40X18X72  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  88943           3      88943
4              SLH_4                       SHELF  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  90054           4      90054
5              SLH_5         SHELF SS&CAN OPENER  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  91165           5      91165

In [155]:
# df_depreciation_calc_2400.drop(['Asset', 'full_dep_yr' , 'cbiz_index'], axis=1, inplace=True)

In [156]:
df_depreciation_calc_2400.columns

Index(['AssetImport', ' Description ', ' Acq Date ', ' Cost ',
       ' Accum Deprec ', ' Book value ', ' Useful Life ', 'LifeRemaining',
       'Basis', 'InServiceDate_dt', 'Convention', 'LifeToDateDepreciation',
       'full_dep_yr', 'full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021',
       'depr_ytd_oct', 'Asset', 'cbiz_index', 'FSM Asset'],
      dtype='object')

In [157]:
df_depreciation_calc_2400.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9534 entries, 1 to 9578
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AssetImport             9534 non-null   object
 1    Description            9534 non-null   object
 2    Acq Date               9534 non-null   datetime64[ns]
 3    Cost                   9534 non-null   float64
 4    Accum Deprec           9534 non-null   float64
 5    Book value             9534 non-null   float64
 6    Useful Life            9534 non-null   int64
 7   LifeRemaining           9534 non-null   int64
 8   Basis                   9534 non-null   float64
 9   InServiceDate_dt        9534 non-null   datetime64[ns]
 10  Convention              9534 non-null   object
 11  LifeToDateDepreciation  9534 non-null   float64
 12  full_dep_yr             9534 non-null   object
 13  full_dep_yr_2           9534 non-null   datetime64[ns]
 14  dep_exp_2020            9534 non-null   float64
 15  dep_exp_2021            9534 non-null   float64
 16  depr_ytd_oct            9534 non-null   float64
 17  Asset                   9534 non-null   int64
 18  cbiz_index              9534 non-null   int64
 19  FSM Asset               9534 non-null   int32
dtypes: datetime64[ns](3), float64(8), int32(1), int64(4), object(4)
memory usage: 1.5+ MB

In [158]:
df_depreciation_calc_2400.head()

         AssetImport                 Description   Acq Date    Cost    Accum Deprec    Book value    Useful Life   LifeRemaining  Basis InServiceDate_dt Convention  LifeToDateDepreciation              full_dep_yr full_dep_yr_2  dep_exp_2020  dep_exp_2021  depr_ytd_oct  Asset  cbiz_index  FSM Asset
aa_index
1              SLH_1     SHELF UNIT MTL 30X12X72  2028-07-01   $5.00           $5.00         $0.00              1            102  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    2029-07-01         $0.00         $0.00         $0.00  86721           1      86721
2              SLH_2                       STAND  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  87832           2      87832
3              SLH_3   CABINET STOR MTL 40X18X72  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  88943           3      88943
4              SLH_4                       SHELF  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  90054           4      90054
5              SLH_5         SHELF SS&CAN OPENER  1932-07-01   $5.00           $5.00         $0.00              1              0  $5.00       2018-01-02         HY                   $5.00  relativedelta(years=+1)    1933-07-01         $0.00         $0.00         $0.00  91165           5      91165

In [159]:
fsm_depreciation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135421 entries, 0 to 135420
Data columns (total 2 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Asset                      135421 non-null  int64
 1   CurrentPeriodDepreciation  135421 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 2.1 MB

In [162]:
df_depreciation_calc_2400 = df_depreciation_calc_2400[['AssetImport', 'cbiz_index','FSM Asset', ' Description ', ' Acq Date ',
       ' Cost ',  'Basis', ' Accum Deprec ', 'LifeToDateDepreciation',
       ' Book value ', ' Useful Life ','full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',   ]]

df_depreciation_calc_2400 = df_depreciation_calc_2400.merge(fsm_depreciation, how='left',
                                                           left_on='FSM Asset', right_on='Asset')

df_depreciation_calc_2400 = df_depreciation_calc_2400[['AssetImport','cbiz_index','FSM Asset', ' Description ', ' Acq Date ',
       ' Cost ',  'Basis', ' Accum Deprec ', 'LifeToDateDepreciation',
       ' Book value ', ' Useful Life ','full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

In [163]:
df_depreciation_calc_2400

     AssetImport  cbiz_index  FSM Asset                 Description   Acq Date          Cost          Basis   Accum Deprec   LifeToDateDepreciation   Book value    Useful Life  full_dep_yr_2  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0          SLH_1           1      86721     SHELF UNIT MTL 30X12X72  2028-07-01         $5.00         $5.00           $5.00                   $5.00         $0.00              1    2029-07-01         $0.00         $0.00         $0.00                      $0.00
1          SLH_2           2      87832                       STAND  1932-07-01         $5.00         $5.00           $5.00                   $5.00         $0.00              1    1933-07-01         $0.00         $0.00         $0.00                      $0.00
2          SLH_3           3      88943   CABINET STOR MTL 40X18X72  1932-07-01         $5.00         $5.00           $5.00                   $5.00         $0.00              1    1933-07-01         $0.00         $0.00         $0.00                      $0.00
3          SLH_4           4      90054                       SHELF  1932-07-01         $5.00         $5.00           $5.00                   $5.00         $0.00              1    1933-07-01         $0.00         $0.00         $0.00                      $0.00
4          SLH_5           5      91165         SHELF SS&CAN OPENER  1932-07-01         $5.00         $5.00           $5.00                   $5.00         $0.00              1    1933-07-01         $0.00         $0.00         $0.00                      $0.00
...          ...         ...        ...                          ...        ...           ...           ...             ...                     ...           ...            ...           ...           ...           ...           ...                        ...
9529    SLH_9572        9572      96202                BOILER STACK  2020-12-01     $3,043.60     $3,043.60           $0.00                   $0.00     $3,043.60             20    2040-12-01        $76.09       $152.18       $126.82                     $25.36
9530    SLH_9575        9575      96203       IT WIRELESS EQUIPMENT  2020-12-01    $24,971.72    $24,971.72           $0.00                   $0.00    $24,971.72              3    2023-12-01     $4,161.95     $8,323.91     $6,936.59                  $1,387.32
9531    SLH_9576        9576      96204       NEWBURGH ED EXPANSION  2020-12-01 $6,909,027.49 $6,909,027.49           $0.00                   $0.00 $6,909,027.49             25    2045-12-01   $138,180.55   $276,361.10   $230,300.92                 $46,060.18
9532    SLH_9577        9577      96205            SURGERY PLANNING  2020-12-01     $2,800.00     $2,800.00           $0.00                   $0.00     $2,800.00             10    2030-12-01       $140.00       $280.00       $233.33                     $46.67
9533    SLH_9578        9578      96206    PARKING VIDEO MANAGEMENT  2020-12-01   $560,070.92   $560,070.92           $0.00                   $0.00   $560,070.92             10    2030-12-01    $28,003.55    $56,007.09    $46,672.58                  $9,334.52

[9534 rows x 16 columns]

In [166]:
df_depreciation_calc_2400.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\slh\output\sit3_depreciatioin_2400.csv')